html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#title {
    
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid black;
    position: fixed;

}

.conteudo {
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
    border: solid 1px black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: red;
    font-size: 50px;
}

a {
    float: left;
    top: 2px;
    padding: 13px 125px;
    top: 10px;
    left: 10px;
    color: red
}

#div1 {
    background-image: url(../img/gato1.jpg);

}

#div2 {
    background-image: url(../img/gato2.jpg);
}

#div3 {
    background-image: url(../img/gato3.jpg);
}

#div4 {
    background-image: url(../img/gato4.jpg);

}

#div5 {
    background-image: url(../img/gato5.jpg);

}